@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    height: -webkit-fill-available;
  }

  body {
    min-height: 100%;
    min-height: -webkit-fill-available;
  }
}
